<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newpost</title>
</head>
<body>
    <form action="/posts/new" method="post">
        <input type="text" placeholder="enter username" name="username" /> <br/> <br/>
        <input type="text" placeholder="enter the post" name="post" /><br/><br>
        <button>ADD POST</button>
    </form>
</body>
</html>